release/
debug/
doc/
obj/
share/
lib/
include/
.cproject
.project
.directory
.cdt*
.settings/
Makefile*
*~
*.so*
*.a
Thumbs.db
*.pro.user
*.user.*
localPaths.pri
tmp_*
**/temp.*/*

#python
python/tests/*.xml
*.pyc
python/**/*.cpp

#cmake
**CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
localConfig.cmake
